@value headingMobile from '../../styles/variables.module.css';
@value headingTablet from '../../styles/variables.module.css';
@value headingDesktop from '../../styles/variables.module.css';
@value paragraph1 from '../../styles/variables.module.css';
@value paragraph2 from '../../styles/variables.module.css';
@value paragraph3 from '../../styles/variables.module.css';
@value primaryColor from '../../styles/variables.module.css';
@value secondaryColor from '../../styles/variables.module.css';
@value hoverPrimaryColor from '../../styles/variables.module.css';
@value inputColor from '../../styles/variables.module.css';
@value focusValidColor from '../../styles/variables.module.css';
@value focusValidColorShadow from '../../styles/variables.module.css';
@value focusInvalidColorShadow from '../../styles/variables.module.css';
@value marginForComponents from '../../styles/variables.module.css';
@value transitionDuration from '../../styles/variables.module.css';
@value centerDirection from '../../styles/variables.module.css';
@value whiteText from '../../styles/variables.module.css';
@value blackText from '../../styles/variables.module.css';
@value backgroundColor3 from '../../styles/variables.module.css';

@media (min-width: 22.5rem) {
  .registerFormWrapper {
    padding-top: marginForComponents;
    padding-bottom: marginForComponents;
  }

  .registerFormTitle {
    font-size: headingMobile;
    margin-left: 1px;
  }

  .registerFormContent {
    width: 92%;
    margin: centerDirection;
  }

  .registerFormText {
    font-size: paragraph1;
    margin: 16px 10px 0 9px;
  }

  .registrationForm {
    text-align: left;
    padding-top: 11px;
  }

  .label {
    display: block;
    margin-bottom: 22px;
  }

  .labelTitle {
    letter-spacing: 0.3px;
  }

  .labelPhoneTitle {
    letter-spacing: 0.3px;
  }

  .inputSection {
    display: block;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 9px 13px;
    margin-top: 10px;
    font-size: paragraph2;
    color: blackText;
  }

  .inputSection::-webkit-input-placeholder {
    color: inputColor;
  }

  .inputSectionValid {
    composes: inputSection;
    border: 1px solid inputColor;
  }

  .inputSectionInvalid {
    composes: inputSection;
    border: 1px solid primaryColor;
  }

  .inputNumberSection {
    composes: inputSection;
    padding: 8px 11px;
    font-size: 15px;
    letter-spacing: 0.3px;
  }

  .inputNumberSectionValid {
    composes: inputNumberSection;
    border: 1px solid inputColor;
  }

  .inputNumberSectionInvalid {
    composes: inputNumberSection;
    border: 1px solid primaryColor;
  }

  .inputSectionValid:focus,
  .inputNumberSectionValid:focus {
    border: 1px solid focusValidColor;
    -webkit-box-shadow: 0 0 0 2px focusValidColorShadow;
    box-shadow: 0 0 0 2px focusValidColorShadow;
  }

  .inputSectionInvalid:focus,
  .inputNumberSectionInvalid:focus {
    border: 1px solid primaryColor;
    -webkit-box-shadow: 0 0 0 2px focusInvalidColorShadow;
    box-shadow: 0 0 0 2px focusInvalidColorShadow;
  }

  .inputNumberFormat {
    font-size: 11px;
    margin-top: 6px;
    margin-left: -1px;
    letter-spacing: -0.1px;
  }

  .positionsSection {
    margin: 15px 0;
  }

  .selectLabelTitle {
    font-size: 15px;
    letter-spacing: -0.2px;
  }

  .labelContainer {
    font-size: paragraph2;
    margin-top: 20px;
  }

  .radioLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 11px;
  }

  .inputRadioLabel {
    display: none;
  }

  .radioLabelTitle {
    display: inline-block;
    position: relative;
    padding-left: 26px;
  }

  .radioLabelTitle::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 1px;
    left: 1px;
    border: 1px solid inputColor;
    border-radius: 50%;
  }

  .radioLabelTitle::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    top: 1px;
    left: 1px;
    border: 5px solid secondaryColor;
    border-radius: 50%;
    opacity: 0;
  }

  .inputRadioLabel:checked + .radioLabelTitle:after {
    opacity: 1;
  }

  .photoLabelTitle {
    margin-top: 21px;
    font-size: paragraph2;
    letter-spacing: 0.5px;
    position: relative;
  }

  .photoInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .labelPhotoInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: 1px solid inputColor;
    border-radius: 5px;
    font-size: paragraph2;
    letter-spacing: 0.5px;
    padding: 0px;
    cursor: pointer;
  }

  .labelPhotoInputValid {
    composes: labelPhotoInput;
    border: 1px solid inputColor;
  }

  .photoInput:focus + .labelPhotoInputValid {
    border: 1px solid focusValidColor;
    -webkit-box-shadow: 0 0 0 2px focusValidColorShadow;
    box-shadow: 0 0 0 2px focusValidColorShadow;
  }

  .labelPhotoInputInvalid {
    composes: labelPhotoInput;
    border: 1px solid primaryColor;
  }

  .photoInput:focus + .labelPhotoInputInvalid {
    border: 1px solid primaryColor;
    -webkit-box-shadow: 0 0 0 2px focusInvalidColorShadow;
    box-shadow: 0 0 0 2px focusInvalidColorShadow;
  }

  .leftLabelPhotoInputBlack {
    width: 75%;
    padding: 8px 0 8px 13px;
    color: blackText;
    letter-spacing: 0.3px;
  }

  .leftLabelPhotoInputGrey {
    composes: leftLabelPhotoInputBlack;
    color: inputColor;
  }

  .rightLabelPhotoInput {
    padding: 8px 0 8px 15px;
    width: 25%;
    border-left: 1px solid inputColor;
    border-radius: 0 5px 5px 0;
    background-color: backgroundColor3;
    letter-spacing: 0.2px;
  }

  .centerDirection {
    width: 250px;
    text-align: center;
    margin: centerDirection;
    margin-top: 30px;
  }

  .signUpButton {
    display: block;
    background-color: primaryColor;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: centerDirection;
    padding: 8px 59px;
    color: whiteText;
    font-size: paragraph1;
    margin-top: 41px;
  }

  .signUpButton:hover {
    background-color: hoverPrimaryColor;
    -webkit-transition-duration: transitionDuration;
    -o-transition-duration: transitionDuration;
    transition-duration: transitionDuration;
  }
}

@media (min-width: 48rem) {
  .registerFormTitle {
    font-size: headingTablet;
    margin-left: 9px;
  }

  .registerFormContent {
    width: 62%;
    padding-left: 8px;
  }

  .registerFormText {
    margin: 14px 0 0 0;
  }

  .label {
    margin-left: 1px;
  }

  .label:last-child {
    margin-bottom: 22px;
  }

  .labelTitle {
    letter-spacing: 0.2px;
  }

  .labelPhoneTitle {
    letter-spacing: 0.3px;
  }

  .inputSection {
    letter-spacing: 0.1px;
  }

  .inputNumberSection {
    letter-spacing: 0.25px;
    padding: 8px 12px;
  }

  .inputNumberFormat {
    margin-left: 1px;
    letter-spacing: -0.2px;
  }

  .photoLabelTitle {
    letter-spacing: 0.5px;
  }

  .firstClonePhotoInputBlack {
    width: 82.3%;
  }

  .secondClonePhotoInput {
    width: 17.7%;
  }

  .leftLabelPhotoInputBlack {
    width: 82.4%;
  }

  .rightLabelPhotoInput {
    width: 17.6%;
  }
}

@media (min-width: 64rem) {
  .registerFormTitle {
    font-size: headingDesktop;
    margin: 0 2px 0 0;
  }

  .registerFormContent {
    width: 45.7%;
    padding-left: 0;
  }

  .registerFormText {
    margin: 10px 0 0 0;
    line-height: 1.5;
  }

  .registrationForm {
    margin: 0;
    padding-top: 10px;
  }

  .inputNumberFormat {
    margin: 5px 0 0 1px;
    letter-spacing: 0;
    font-size: paragraph3;
  }

  .photoLabelTitle {
    letter-spacing: 0.3px;
  }

  .signUpButton {
    padding: 8px 57px 8px 59px;
    letter-spacing: 0.2px;
  }
}
