@value backgroundColor1 from '../../../styles/variables.module.css';
@value primaryColor from '../../../styles/variables.module.css';
@value secondaryColor from '../../../styles/variables.module.css';
@value transitionDuration from '../../../styles/variables.module.css';
@value paragraph2 from '../../../styles/variables.module.css';
@value blackText from '../../../styles/variables.module.css';

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 455px;
  background-color: backgroundColor1;
}

.listItem {
  margin-left: 10px;
}

.static {
  display: block;
  font-size: paragraph2;
  color: blackText;
}

.static:hover {
  color: primaryColor;
  -webkit-transition-duration: transitionDuration;
  -o-transition-duration: transitionDuration;
  transition-duration: transitionDuration;
}

.active {
  color: secondaryColor;
}
