@value primaryColor from '../../styles/variables.module.css';
@value centerDirection from '../../styles/variables.module.css';
@value paragraph3 from '../../styles/variables.module.css';
@value mainContainer from '../../styles/variables.module.css';

.errorTextWrapper {
  max-width: mainContainer;
  margin: centerDirection;
}

.errorText {
  font-size: paragraph3;
  color: primaryColor;
  text-align: left;
  margin: centerDirection;
  margin-top: 5px;
}
