@value backgroundColor1 from '../../../styles/variables.module.css';
@value primaryColor from '../../../styles/variables.module.css';
@value secondaryColor from '../../../styles/variables.module.css';
@value transitionDuration from '../../../styles/variables.module.css';
@value blackText from '../../../styles/variables.module.css';
@value paragraph2 from '../../../styles/variables.module.css';

@media (min-width: 22.5rem) {
  .fixedContainer {
    background-color: backgroundColor1;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    z-index: 50;
    height: 100%;
    overflow: auto;
  }

  .navMobTab {
    padding: 11px 15px 4px 15px;
  }

  .logoPicture {
    display: block;
    background-image: url('../../../img/logo.svg');
    width: 135px;
    height: 20px;
  }

  .firstHr {
    margin: 9px -15px;
  }

  .secondHr {
    margin: 25px -15px;
  }

  .list {
    text-align: left;
    margin-top: 25px;
  }

  .listItem {
    margin-bottom: 21px;
  }

  .static {
    display: block;
    font-size: paragraph2;
    color: blackText;
  }

  .static:hover {
    color: primaryColor;
    -webkit-transition-duration: transitionDuration;
    -o-transition-duration: transitionDuration;
    transition-duration: transitionDuration;
  }

  .active {
    color: secondaryColor;
  }
}

@media (min-width: 48rem) {
  .fixedContainer {
    width: 47%;
  }

  .navMobTab {
    padding: 20px 30px 4px 30px;
  }

  .firstHr {
    margin: 20px -30px;
  }

  .secondHr {
    margin: 25px -30px;
  }
}
