@value backgroundColor1 from '../../styles/variables.module.css';
@value heading2 from '../../styles/variables.module.css';
@value blackText from '../../styles/variables.module.css';
@value paragraph1 from '../../styles/variables.module.css';
@value primaryColor from '../../styles/variables.module.css';
@value whiteText from '../../styles/variables.module.css';

@media (min-width: 22.5rem) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
    padding: 0 15px;
  }

  .modal {
    position: relative;
    background-color: backgroundColor1;
    padding: 10px 0;
    margin: 0 0 85px 0;
    border-radius: 3px;
    width: 393px;
    height: 210px;
  }

  .modalTitle {
    font-size: heading2;
    color: blackText;
    margin-left: 15px;
    letter-spacing: -0.1px;
  }

  .closeModal {
    position: absolute;
    border: none;
    outline: none;
    top: 20px;
    right: 12px;
    background-color: backgroundColor1;
  }

  .closeModal i {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
  }

  .closeModal i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

  .modalText {
    font-size: paragraph1;
    color: rgba(0, 0, 0, 0.8);
    margin: 17px 0 0 16px;
  }

  .modalHr {
    margin-top: 17px;
  }

  .modalGreat {
    position: absolute;
    border: none;
    outline: none;
    bottom: 15px;
    right: 16px;
    background-color: primaryColor;
    padding: 7px 18px;
    border-radius: 4px;
  }

  .modalGreatText {
    font-size: 18px;
    color: whiteText;
    letter-spacing: -0.7px;
  }
}

@media (min-width: 48rem) {
  .modal {
    height: 188px;
  }

  .backdrop {
    padding: 0;
  }
}
