@value headingMobile from '../../styles/variables.module.css';
@value headingTablet from '../../styles/variables.module.css';
@value headingDesktop from '../../styles/variables.module.css';
@value heading2 from '../../styles/variables.module.css';
@value paragraph1 from '../../styles/variables.module.css';
@value primaryColor from '../../styles/variables.module.css';
@value hoverPrimaryColor from '../../styles/variables.module.css';
@value backgroundColor1 from '../../styles/variables.module.css';
@value backgroundColor2 from '../../styles/variables.module.css';
@value mainContainer from '../../styles/variables.module.css';
@value transitionDuration from '../../styles/variables.module.css';
@value centerDirection from '../../styles/variables.module.css';
@value whiteText from '../../styles/variables.module.css';

@media (min-width: 22.5rem) {
  .banner {
    background-image: url(../../img/banner-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 75px;
    margin: centerDirection;
  }

  .bannerContent {
    padding: 0 15px;
    max-width: mainContainer;
    margin: centerDirection;
  }

  .bannerHeading {
    font-size: headingMobile;
    line-height: 1.15;
    color: whiteText;
    text-transform: uppercase;
    margin: 0 10px;
    letter-spacing: -0.2px;
  }

  .bannerText {
    color: whiteText;
    font-size: paragraph1;
    line-height: 1.5;
    margin: 19px 0 0 0;
  }

  .signUpButton {
    display: block;
    background-color: primaryColor;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: centerDirection;
    padding: 8px 57px 8px 58px;
    color: whiteText;
    font-size: paragraph1;
    margin-top: 24px;
    letter-spacing: 0.25px;
  }

  .signUpButton:hover {
    background-color: hoverPrimaryColor;
    -webkit-transition-duration: transitionDuration;
    -o-transition-duration: transitionDuration;
    transition-duration: transitionDuration;
  }

  .letsGetAcquaintedSection {
    padding: 71px 15px 75px;
    background-color: backgroundColor1;
    margin: centerDirection;
  }

  .letsGetAcquaintedTitle {
    font-size: headingMobile;
    color: blackText;
    letter-spacing: -0.25px;
    margin-left: 1px;
  }

  .manLaptop {
    display: block;
    background-image: url('../../img/man-laptop-v1.svg');
    margin: centerDirection;
    margin-top: 7px;
    width: 290px;
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .letsGetAcquaintedDirection p:last-of-type {
    margin-top: 24px;
    letter-spacing: -0.03px;
  }

  .letsGetAcquaintedHeading {
    font-size: heading2;
    margin-top: 10px;
  }

  .letsGetAcquaintedText {
    font-size: paragraph1;
    margin-top: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: -0.11px;
  }

  .uppercaseText {
    text-transform: uppercase;
  }

  .letsGetAcquaintedLink {
    display: block;
    color: primaryColor;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 1px;
    letter-spacing: 0.3px;
  }

  .letsGetAcquaintedLink:hover {
    color: hoverPrimaryColor;
    -webkit-transition-duration: transitionDuration;
    -o-transition-duration: transitionDuration;
    transition-duration: transitionDuration;
  }

  .usersSection {
    padding: 31px 0 40px;
    background-color: backgroundColor2;
    margin: 0 auto;
  }

  .registerForm {
    padding: 31px 0;
    background-color: backgroundColor1;
    max-width: mainContainer;
    margin: centerDirection;
  }

  .footer {
    padding: 9px 0 17px 0;
    background-color: backgroundColor1;
    margin: centerDirection;
  }

  .footer::before {
    content: '';
    display: block;
    border-top: 1px solid rgb(230, 230, 230);
  }

  .footerText {
    font-size: paragraph1;
    margin-top: 17px;
  }
}

@media (min-width: 48rem) {
  .banner {
    padding: 535px 0 65px;
    background-position: left;
    text-align: left;
    position: relative;
  }

  .bannerContent {
    padding: 0 30px;
    position: absolute;
    top: 59px;
  }

  .bannerHeading {
    font-size: headingTablet;
    width: 430px;
    line-height: 1.1;
    margin: 0;
    letter-spacing: -0.3px;
  }

  .bannerText {
    width: 450px;
    margin: 28px 0 0 0;
  }

  .signUpButton {
    margin: 34px 0 0 0;
    padding: 8px 58px 8px 58px;
  }

  .underBanner {
    position: absolute;
    top: 560px;
    width: 100%;
    margin: centerDirection;
  }

  .letsGetAcquaintedSection {
    padding: 107px 0 115px;
  }

  .letsGetAcquaintedTitle {
    font-size: headingTablet;
    letter-spacing: -0.5px;
  }

  .letsGetAcquaintedContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: centerDirection;
    margin-top: 60px;
    padding: 0 30px 0 31px;
    max-width: 910px;
  }

  .manLaptop {
    width: 246px;
    height: 219px;
    margin: 0;
  }

  .letsGetAcquaintedDirection {
    width: 431px;
    text-align: left;
  }

  .letsGetAcquaintedDirection p:last-of-type {
    letter-spacing: -0.13px;
  }

  .letsGetAcquaintedHeading {
    margin: 0;
  }

  .letsGetAcquaintedText {
    letter-spacing: -0.01px;
  }

  .usersSection {
    padding: 67px 0 77px;
  }

  .registerForm {
    padding: 65px 0 69px;
  }

  .footerText {
    margin: 17px 0 17px 9px;
  }
}

@media (min-width: 64rem) {
  .banner {
    padding: 107px 0 114px;
  }

  .bannerContent {
    position: static;
  }

  .bannerHeading {
    font-size: headingDesktop;
    width: 520px;
    line-height: 1.09;
    letter-spacing: -0.5px;
  }

  .bannerText {
    width: 535px;
    margin: 25px 0 0 1px;
  }

  .signUpButton {
    padding: 8px 58px 8px 59px;
    letter-spacing: 0.2px;
  }

  .underBanner {
    position: static;
  }

  .letsGetAcquaintedSection {
    padding: 145px 0 155px;
  }

  .letsGetAcquaintedTitle {
    font-size: headingDesktop;
    letter-spacing: -0.7px;
  }

  .letsGetAcquaintedContent {
    width: 94.2%;
    margin-top: 58px;
    padding: 0;
    max-width: mainContainer;
  }

  .manLaptop {
    width: 350px;
    height: 285px;
    margin: 6px 0 0 20px;
  }

  .letsGetAcquaintedDirection {
    width: 550px;
  }

  .usersSection {
    padding: 105px 0 106px;
  }

  .registerForm {
    padding: 103px 0 115px;
  }

  .footerText {
    margin: 17px 0;
  }
}
