@value marginForComponents from '../../styles/variables.module.css';
@value mainContainer from '../../styles/variables.module.css';
@value centerDirection from '../../styles/variables.module.css';

.testimonialsWrapper {
  max-width: mainContainer;
  margin: centerDirection;
}

.testimonials {
  margin-top: marginForComponents;
}
